:root {
  // Colors
  --color-primary: #24232c;
  --color-grey-dark: #18171f;
  --color-grey-light: #817d92;
  --color-almost-light: #e6e5ea;
  --color-green-light: #a4ffaf;
  --color-red: #f64a4a;
  --color-orange: #fb7c58;
  --color-yellow-light: #f8cd65;

  // FONTS Variables
  --f-weight: 700;
  --default-f-size: 1.8rem;
  --default-l-heigth: 2.376rem;
}
