@use "../abstracts/mixins" as *;

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    width: 47.6rem;
    height: 6.5rem;
    // padding: 2.5rem 3rem;

    // padding: 2rem 3rem;
    font-size: var(--default-f-size);
    font-weight: var(--f-weight);
    font-family: jetbrainMono;
    cursor: pointer;
    line-height: var(--default-l-heigth);
    background-color: var(--color-green-light);
    color: var(--color-primary);
    border: 1px solid transparent;
    text-transform: uppercase;
    transition: all 0.2s;

    @include respond(phone) {
      width: 90%;
    }
  }

  &:hover {
    background-color: var(--color-primary);
    border: 1px solid var(--color-green-light);
    color: var(--color-green-light);
  }
}
