.password {
  background-color: var(--color-primary);
  display: flex;
  width: 54rem;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 3rem;

  &__display {
    // font-size: ;
  }

  &__copy-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__copy-text {
    text-transform: uppercase;
    color: var(--color-green-light);
    transition: all 0.2s ease-in-out;
    transform: translateY(200%);
    opacity: 0;
  }

  &__copy-icon {
    cursor: pointer;
  }
}
