@use "../abstracts/mixins" as *;

.slider-container {
  width: 100%;
}

.slider {
  width: 47.6rem;
  -webkit-appearance: none;
  appearance: none;
  height: 0.8rem;
  -webkit-transition: 0.2s;
  transition: all 0.2s;
  outline: none;
  background-color: var(--color-grey-dark);

  @include respond(tab-port) {
    width: 90%;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    background: var(--color-almost-light);
    border-radius: 50%;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-grey-dark);
      border: 1px solid var(--color-green-light);
    }
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    background: var(--color-almost-light);
    border-radius: 50%;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-grey-dark);
      border: 1px solid var(--color-green-light);
    }
  }
}
